<h2></h2>

<form action="/celebrities/create" method="post">

  <input type="text" name="name" id="name" placeholder="name" />
  <input
    type="text"
    name="occupation"
    id="occupation"
    placeholder="occupation"
  />
  <input
    type="text"
    name="catchPhrase"
    id="catchPhrase"
    placeholder="catchPhrase"
  />
  <button>Submit Celeb</button>
</form>